// main.scss

@use "mixins";
@use "reset";
@use "utilities";
@use "variables";

@use "components/App";
@use "components/global";
@use "components/typography";

@use "components/Header";
@use "components/Navbar";
@use "components/MainElement";

@use "pages/Contact";
