// main.scss

@use "mixins";
@use "reset";
@use "utilities";
@use "variables";

@use "components/App";
@use "components/global";
@use "components/typography";

@use "components/Header";
@use "components/Navbar";
@use "components/MainElement";
@use "components/Title";
@use "components/Lightbox";
@use "components/Loader";
@use "components/TransitionPage";

@use "pages/Home";
@use "pages/Contact";
@use "pages/Reservation";
@use "pages/Informations";
