// contact.scss
@use "../variables" as *;

.contact {
  height: 100%;
  user-select: none;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  line-height: normal;
  font-weight: 200;
  font-size: 0.75rem;

  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.contact-list {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.contact-item {
  margin-bottom: 0.7rem;
}

.contact-item a {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.contact-item a:hover {
  opacity: 0.5;
}

.contact-detail h3 {
  margin-bottom: 0.25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.contact-socials {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: max-content;
}

.contact-socials a:last-of-type {
  color: $text-color;
  animation-name: blink;
  animation-play-state: running;
  animation-duration: 1200ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  position: relative;
}

.contact-socials a:last-of-type::before {
  content: "\0a0\0a0\1F449\0a0\0a0";
  position: absolute;
  top: 50%;
  left: -25%;
  transform: translate(-50%, -50%);
}

.contact-socials a:last-of-type:hover {
  animation-play-state: paused;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
