// contact.scss
@use "../mixins" as *;
@use "../variables" as *;

.contact {
  height: 100%;
  @include flex-center-column;
  user-select: none;
}

.contact h2 {
  font-size: 2.115rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.contact-list {
  padding-inline: 1rem;
  width: 50%;
}

.contact-item {
  margin-bottom: 1rem;
}

.contact-item a {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.contact-item a:hover {
  opacity: 0.5;
}

.contact-detail {
  line-height: normal;
  font-weight: 200;
  font-size: 0.75rem;
}

.contact-detail h3 {
  margin-bottom: 0.25rem;
  font-size: 0.938rem;
  font-weight: 300;
  text-transform: capitalize;
}

.contact-socials {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: max-content;
}

.contact-socials a:last-of-type {
  color: $text-color;
  animation-name: blink;
  animation-play-state: running;
  animation-duration: 1400ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.contact-socials a:last-of-type:hover {
  animation-play-state: paused;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
