.home {
  height: 100%;
  position: relative;
  user-select: none;
}

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-container h1 {
  font-size: 5rem;
  line-height: 4.69rem;
  font-weight: 500;
  letter-spacing: -0.25rem;
  margin-bottom: 2rem;
}

.home-container p {
  font-weight: 100;
  line-height: normal;
}
