// informations.scss

.informations {
  height: 100%;
  user-select: none;
}

.informations-details {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 75%;
  }
}

.details p {
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
  font-weight: 200;
  line-height: normal;

  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
  }
}

.gallery {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.2rem;
}

.gallery-item-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
}

.gallery-item-wrapper img {
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.gallery-item-wrapper img:hover {
  transform: scale(1.05);
}

.gallery-item figcaption {
  font-size: 0.65rem;
  font-weight: 100;
  line-height: normal;
  width: max-content;

  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
  }
}
