// informations.scss
@use "../variables" as *;
@use "../components/typography" as *;

.informations {
  height: 100%;
  user-select: none;
}

.informations-details {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }

  @media screen and (max-width: 767px) {
    width: 75%;
  }
}

.details p {
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
  font-weight: 200;
  line-height: normal;

  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
  }
}

.gallery {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.2rem;
  counter-reset: comptlist;
}

.gallery-item {
  position: relative;
}

.gallery-item-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
}

.gallery-item::after {
  content: counter(comptlist, decimal-leading-zero);
  counter-increment: comptlist;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(20%);
  font-family: $font-secondary;
  font-size: 0.525rem;
}

.gallery-item-wrapper img {
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.gallery-item-wrapper img:hover {
  transform: scale(1.05);
}

.gallery-item figcaption {
  font-size: 0.75rem;
  font-weight: 200;
  line-height: normal;
  color: $black-color;
  width: max-content;
  position: relative;
  overflow: hidden;
  padding-left: 0.15rem;
  padding-right: 0.25rem;

  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
  }
}

// .gallery-item figcaption::after {
//   content: "";
//   background-color: $white-color;
//   position: absolute;
//   inset: 0;
//   z-index: -1;

//   transform: translateX(-100%);
//   transition-property: transform;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 350ms;
// }

// .gallery-item:hover figcaption::after {
//   transform: translateX(0);
// }

.gallery-item figcaption::after {
  content: "";
  background-color: $white-color;
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;

  transform: scaleX(0);
  transform-origin: 100% 0;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.gallery-item:hover figcaption::after {
  transform-origin: 0 0;
  transform: scale(1);
}
