// reservation.scss

.reservation {
  height: 100%;
  user-select: none;
}

.reservation-details {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 75%;
  }
}

.opening-times {
  margin-top: 2.5rem;
}

.details p,
.opening-times p {
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
  font-weight: 200;
  line-height: normal;

  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
  }
}

.details p > a {
  opacity: 1;
  text-decoration: underline;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.details p > a:hover {
  opacity: 0.5;
}
