// global.scss
@use "../variables" as *;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  color: $white-color;
  background-color: $black-color;
  height: 100dvh;
}
