// lightbox.scss
@use "../mixins" as *;

.lightbox {
  height: 100%;
  margin: auto;
  padding-block: 1rem;
  background: transparent;
}

.lightbox::backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}
