// loader.scss
@use "../mixins" as *;
@use "../variables" as *;

.loader-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  background-color: $white-color;
  z-index: 99999;
  color: $black-color;
  font-size: 120px;
  @include flex-center-column;
  transition: opacity 400ms ease, visibility 0s ease 400ms;
}

.is-hide {
  pointer-events: none;
  visibility: hidden;
  z-index: -999;
  opacity: 0;
}

.styles-loader-text {
  font-size: 1rem;
  color: $black-color;
  text-transform: capitalize;
  font-weight: 400;
  @include absolute-center;
  text-align: center;
  min-width: 100px;
  z-index: 10000;

  &__dot {
    animation: blink 1000ms infinite;
  }

  &__dot:nth-child(2) {
    animation-delay: 300ms;
  }

  &__dot:nth-child(3) {
    animation-delay: 600ms;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
