// mainElement.scss

.main-element {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 1;

  @media screen and (max-width: 767px) {
    overflow: auto;
  }
}

.main-element > .inner {
  height: 100%;
}
