// title.scss

.title-wrapper {
  width: 100%;
  margin: 6.85rem auto 3.05rem;

  @media screen and (max-width: 1024px) {
    margin: 6.85rem auto 2.75rem;
  }

  @media screen and (max-width: 767px) {
    margin: 6.85rem auto 1.75rem;
  }
}

.title-wrapper h2 {
  font-size: 2.15rem;
  font-weight: 100;
  line-height: 2.45rem;
  position: relative;
  width: max-content;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    font-size: 1.45rem;
    line-height: 0.95rem;
  }
}

.title-wrapper h2::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
  display: block;
  width: 75%;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 767px) {
    bottom: -100%;
  }
}
