// typography.scss
$font-primary: "Outfit", sans-serif;
$font-secondary: "Source Code Pro", serif;

html {
  font-size: calc(1.38888888889 * 1vw);
}

@media screen and (max-width: 1024px) {
  html {
    font-size: calc(3.12820512821 * 1vw);
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(5.12820512821 * 1vw);
  }
}

body {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  text-wrap: balance;
  font-kerning: normal;
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}
